.section-about {
  background-color: $about-bg-color;
  @extend %section;
  &__container {
    @include flex(flex-start, stretch, column);
    padding-top: 70px;
    padding-bottom: 70px;
    @media screen and (min-width: $screen-desktop) {
      flex-direction: row;
    }
  }
  &__picture-side {
    @include flex;
    position: relative;
    @include padding-hack(100%);
    width: 100%;
    @media screen and (min-width: $screen-desktop) {
      width: 50%;
      padding-bottom: 50%;
    }
  }
  &__content-side {
    width: 100%;
    @include flex(center, center, column);
    @media screen and (min-width: $screen-desktop) {
      width: 50%;
      align-items: flex-start;
      padding-left: 90px;
    }
  }
  &__image {
    transition: all 0.4s ease;
    @media screen and (min-width: $screen-desktop) {
      &:hover {
        transform: rotate(360deg);
      }
    }
  }
  &__title {
    @include text($H800, 700, $white);
    margin-bottom: 12px;
    line-height: 1.1;
    text-align: center;
    @media screen and (min-width: $screen-desktop) {
      text-align: left;
      font-size: $H900;
    }
  }
  &__text {
    @include text($H200, 400, $white);
    line-height: 1.5;
    &:not(:last-child) {
      margin-bottom: 12px;
    }
    text-align: center;
    @media screen and (min-width: $screen-desktop) {
      text-align: left;
    }
  }
}