@mixin flex(
  $justify-content: flex-start,
  $align-items: stretch,
  $direction: row,
  $wrap: nowrap
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-wrap: $wrap;
}

@mixin fontSize($size) {
  font-size: calcRem($size);
}

@mixin text($size, $weight: 400, $color: $text-main-color) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
  @content;
}

@mixin padding-hack($padding: 50%, $size: contain, $dev: false) {
  position: relative;
  height: 0;
  padding-bottom: $padding;
  @if $dev {
    background-color: red;
  }
  img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: $size;
    @if $dev {
      object-fit: contain;
    }
  }
}

@mixin size($size) {
  width: $size;
  height: $size;
}

@mixin svg($size: 32px, $fill: black) {
  width: $size;
  height: $size;
  fill: $fill;
}
