<section id='about' class="section-about">
  <div class="container section-about__container">
    <div class="section-about__picture-side">
      <img class="section-about__image" src="images/cup.png" alt="cup">
    </div>
    <div class="section-about__content-side">
      <h2 class="section-about__title">About us</h2>
      <p class="section-about__text">bore Cahee magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
      <p class="section-about__text">Nim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
    </div>
  </div>
</section>