<section id='gallery' class="section-gallery">
  <div class="container section-gallery__container">
    <h2 class="section-gallery__title">Gallery</h2>
    <p class="section-gallery__description">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis
      cupiditate id laudantium excepturi, maxime illo dolor ullam assumenda iste
      sequi.
    </p>
    <div class="section-gallery__grid photo-grid">
      <div class="photo-grid__row">
        <div class="photo-grid__col photo-grid__col--large photo-grid__image-wrapper photo-grid__image-wrapper--large">
          <img src="images/Clip-1.png" alt="clip-1" />
        </div>
        <div class="photo-grid__col photo-grid__col--small">
          <div class="photo-grid__row photo-grid__row--medium photo-grid__image-wrapper photo-grid__image-wrapper--small">
            <img src="images/Clip-2.png" alt="clip-2" />
          </div>
          <div class="photo-grid__row photo-grid__row--medium photo-grid__image-wrapper photo-grid__image-wrapper--small">
            <img src="images/Clip-3.png" alt="clip-3" />
          </div>
        </div>
      </div>
      <div class="photo-grid__row">
        <div class="photo-grid__col photo-grid__col--medium photo-grid__image-wrapper photo-grid__image-wrapper--medium">
          <img class="photo-grid__image" src="images/Clip-4.png" alt="clip-4" />
        </div>
        <div class="photo-grid__col photo-grid__col--medium photo-grid__image-wrapper photo-grid__image-wrapper--medium photo-grid__image-wrapper--marginless">
          <img class="photo-grid__image" src="images/Clip-5.png" alt="clip-5" />
        </div>
      </div>
    </div>
    <a href="#" class="button button--gallery section-gallery__button">View more</a>
  </div>
</section>
