<header id='home' class="header">
  <nav class="navigation">
    <div class="container navigation__container">
      <h1 class="logo navigation__logo">Cahee</h1>
      <label class="burger navigation__burger">
        <input class='burger__input' type="checkbox">
        <span class="burger__box">
          <span class="burger__item"></span>
          <span class="burger__item"></span>
          <span class="burger__item"></span>
        </span>
        <!-- Hack -->
        <span class="navigation__list burger__menu">
          <span class="navigation__item">
            <a class="navigation__link" href="#home">Home</a>
          </span>
          <span class="navigation__item">
            <a class="navigation__link" href="#about">About</a>
          </span>
          <span class="navigation__item">
            <a class="navigation__link" href="#services">Services</a>
          </span>
          <span class="navigation__item">
            <a class="navigation__link" href="#gallery">Gallery</a>
          </span>
          <span class="navigation__item">
            <a class="navigation__link" href="">Block</a>
          </span>
          <span class="navigation__item">
            <a class="navigation__link" href="">Contact</a>
          </span>
        </span>
      </label>
      
    </div>
  </nav>
  <div class="container header__container">
    <section class="header__content">
      <h2 class="header__title">Fresh life</h2>
      <p class="header__text">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
      <a class='button' href="#">Get free now</a>
    </section>
    <a href='#about' class="scroll header__scroll"></a>
  </div>
</header>