.navigation {
  position: fixed;
  background-color: rgba($white, 0.9);
  top: 0;
  left: 0;
  right: 0;
  z-index: 11;
  &__container {
    height: 100px;
    @include flex(space-between, center);
  }
  &__list {
    list-style: none;
    @include flex(flex-start,  center, column);
    position: fixed;
    top: 100px;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 32px 24px;
    z-index: 10;
    @media screen and (min-width: $screen-tablet) {
      flex-direction: row;
      position: static;
      padding: 0;
    }
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 32px;
      @media screen and (min-width: $screen-tablet) {
        margin-bottom: 0;
        margin-right: 32px;
      }
    }
    
  }
  &__link {
    @include text($H100, 700,);
    text-transform: uppercase;
    @media screen and (min-width: $screen-tablet) {
      padding-top: 2px;
      border-top: 2px solid transparent;
      transition: all 0.2s ease;
      &:hover {
        border-color: $header-btn-color;
      }
    }
  }
}